<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>
<body>
    <h2 th:text="'Hello, ' + ${username} + '!'" + ></h2>
    <p><a href="/logout">Sign out</a></p>

    <h3>Documents:</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Content</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${documents.empty}">
                <td colspan="3">No documents available.</td>
            </tr>
            <tr th:each="document, status : ${documents}">
                <td><span th:text="${status.index + 1}"></span></td>
                <td><span th:text="${document.getContent()}"></span></td>
                <td><span th:text="${document.getUsername()}"></span></td>
            </tr>
        </tbody>
    </table>    
</body>
</html>